<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> GuardianGate - OAuth2 server</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="static/guardian-gate.css"/>
</head>
<body>
<section class="hero is-primary has-background-white">
    <div class="hero-head">
        <nav class="navbar is-white has-shadow">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="static/img/guardian-gate-logo-small.png" style="max-height: 50px" class="py-2 px-2">
                </a>
                <a class="navbar-burger" id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="navbar-menu" id="nav-links">
                <div class="navbar-end">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.profile') }}" class="navbar-item">Profile</a>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="navbar-item">
                        Login
                    </a>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                        Sign Up
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <div class="navbar-end">
                        <div class="navbar-item ">
                            <div class="navbar-end">
                                <div class="navbar-item has-dropdown is-hoverable has-text-black">
                                    <a class="navbar-link">
                                        {{current_user.name}}
                                    </a>
                                    <div class="navbar-dropdown has-text-black">
                                        <a class="navbar-item" href="#">Settings</a>
                                        <a class="navbar-item" href="{{ url_for('auth.logout') }}">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body has-text-black">
        <div class="container.is-max-desktop is-fluid has-text-black">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>
<script src="static/modal.js"></script>
<script src="static/base.js"></script>
</html>




