{% extends "base.html" %}

{% block content %}
<h3 class="title is-3 has-text-black" >Welcome, {{ name }}!</h3>

<table class="table">
  <thead>
    <tr>
      <th><abbr title="Number"></abbr></th>
      <th><abbr title="Application">Application</abbr></th>
      <th><abbr title="Created">Created</abbr></th>
      <th><abbr title="Edit">Action</abbr></th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>
        <a href="" title="API">API</a>
      </td>
      <td>04/24/2024 13:32</td>
      <td>View | Edit</td>
    </tr>
  </tbody>
</table>
<a href="{{ url_for('main.new_client') }}" class="btn btn-primary">Register Client</a>

{% endblock %}